.content{
  text-align: center;
  display: flex;
  flex-direction: column;
}

input{
  margin: 10px;
}

.login, .signup{
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 236, 236, 0.8);
  box-shadow: 0 10px 5px 5px rgb(221, 219, 219);
  margin: 100px 500px;
  border-radius: 10px;
  border: none;
}

